 h1 {
    color: white; 
    background-color: brown;
    text-align: center;
    margin-top: -8px;
 }

 p {
    text-align: center;
    font-weight: bold;
    margin-top: -1rem;
 }
 
 button {
    margin-top: 1rem;
    height: 2rem;
    width: 6rem;
    text-align: center;
    font-size: larger;
    display: grid;
    margin: auto;
}